@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;


.header {
    padding: 1.5rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include tablet {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    @include desktop {
        padding:4rem;
        padding-bottom:1.5rem;
        padding-top: 1.5rem;
    }

    &__logo {
        font-family: bold;
        font-size: 1.4rem;
        color: $orange;

        @include tablet {
            font-size: 1.7rem;
        }

        @include desktop {
            font-size: 2rem;
        }
    }
}

.links {
    display:none;

    @include desktop {
        display:flex;
        justify-content: space-between;
        width: 20rem;
    }

    &__link {
        @include desktop {
            color:$blue;
            font-size: 1rem;
            padding-bottom: 1rem;
            padding-top: 1rem;

            &:hover {
                color: $orange;
                font-family: bold;
                cursor: pointer;;
            }
        }
    }
}

.icons {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 12rem;

    @include tablet {
        width: 12.5rem;
    }

    @include desktop {
        width: 13rem;
    }

    &__icon {
        width: 1.2rem;

        &:hover {
            cursor: pointer;
        }

        @include tablet {
            width: 1.2rem;
        }
    }

    &__sign-in-button {
        background-color: $blue;
        padding:0.5rem;
        padding-right: 2rem;
        padding-left: 2rem;
        border-radius: 1rem;
        font-size: 0.7rem;
        font-family: bold;
        color: white;
        border:0.1px solid white;

        &:hover {
            cursor: pointer;
            background-color: white;
            border:0.1px solid $blue;
            color:$orange;
        }

        @include tablet {
            font-size: 0.8rem;
        }
    }
}