@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.landingPage {
    padding-right: 24px;
    padding-left: 24px;

    @include tablet {
        padding-right: 48px;
        padding-left: 48px;
    }

    @include desktop {
        padding-right: 4rem;
        padding-left: 4rem;
    }
}

.hero {
    background: url("../../assets//images/header_img.png");
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    height: 13rem;
    border-radius:1rem;

    @include tablet {
        height: 22rem;
    }

    @include desktop {
        height: 35rem;
    }

    &__container  {
        display:flex;
        flex-direction: column; 
        align-items: flex-start;
        padding-top: 5rem;
        padding-left: 1rem;
        width: 15rem;
        
        @include tablet {
            padding-left: 2rem;
            width: 36rem;
            padding-top: 9rem;
        }

        @include desktop {
            padding-top: 20rem;
            padding-left: 3rem;
            width: fit-content;
        }

    }

    &__title {
        color: white;
        font-family: bold;
        font-size: 1.5rem;
        margin-bottom: 0.5rem;

        @include tablet {
            font-size: 2.7rem;
            margin-bottom: 1.5rem;
        }

        @include desktop {
            font-size: 3.9rem;
        }
    }

    &__button {
        background-color:white;
        border: 1px solid $grey;
        border-radius:1rem;
        color: $grey;
        padding:0.5rem;
        padding-right: 1.5rem;
        padding-left: 1.5rem;

        @include tablet {
            padding: 1rem;
            font-size: 1.3rem;
            padding-right: 3rem;
            padding-left: 3rem;
        }

        @include desktop {
            font-size: 2rem;
            padding: 1rem;
            padding-right: 6rem;
            padding-left: 6rem;
        }

        &:hover {
            background: none;
            border-color: white;
            color: white;
            cursor: pointer;
            font-family: bold;
        }
    }
}

.explore {
    padding-top: 3rem;
    padding-bottom: 2rem;
    border-bottom: 0.5px solid $grey;

    &__title {
        font-size: 1.3rem;
        margin-bottom: 0.7rem;

        @include tablet {
            font-size: 1.4rem;
        }

        @include desktop {
            font-size: 1.8rem;
        }
    }

    &__description {
        font-size: 1rem;
        color: $grey;
        margin-bottom: 1.5rem;

        @include tablet {
            font-size: 1.3rem;
        }

        @include desktop {
            font-size: 1.5rem;
        }

    }

    &__container {
        white-space: nowrap;
        position: relative;
        overflow-x: scroll;
        -webkit-overflow-scrolling: touch;

       @include desktop {
        display:flex;
        justify-content: center;
       }
    }

    &__category {
        display: inline-block;
        justify-content: center;
        align-items: center;
        width: 6rem;
        background-color: none;
        margin-right: 1.5rem;
        zoom: 1;
        transition: 0.3s ease-in-out;

        @include tablet {
            width: 6.8rem;
            margin-right: 2rem;
        }

        @include desktop {
            width: 10rem;
            margin-top: 1rem;
        }

        &:hover {
            width: 6.2rem;
            cursor: pointer;

            @include tablet {
                width: 6.9rem;
            }

            @include desktop {
                width: 10.1rem;
            }
        }

        &__img {
            width: 100%;
        }

        &__name {
            font-size: 0.9rem;
            text-align: center;
            margin-top: 0.2rem;
            color: $grey;
            margin-bottom: 2rem;

            @include tablet {
                margin-top:0.5rem;
                font-size: 1.1rem;
            }

            @include desktop {
                font-size: 1.3rem;
            }
        }
    }

}