@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.dishes {
  padding-right: 24px;
  padding-left: 24px;
  margin-top: 1rem;
  margin-bottom: 3rem;
  margin:2rem;

  @include tablet {
    margin-top: 0;
    padding-right: 48px;
    padding-left: 48px;
  }

  @include desktop {
    padding-right: 2rem;
    padding-left: 2rem;
  }

  &__title {
    font-size: 1.3rem;
    font-family: bold;
    color: black;
    margin-bottom: 2rem;
    padding-right: 24px;
    padding-left: 24px;
    margin-top: 1rem;
    margin-bottom: 3rem;

    @include tablet {
      font-size: 1.6rem;
      padding-right: 48px;
      padding-left: 48px;
    }

    @include desktop {
      font-size: 1.7rem;
      padding-right: 4rem;
      padding-left: 4rem;
    }
  }

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 17rem;
    height: fit-content;

    &:hover {
      background-color: rgb(229, 224, 224);
      cursor: pointer;
    }
  }

  &__img {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;

    &__pic {
      width: 100%;
      height: auto;
      object-fit: cover;
    }

    &__button {
      position: absolute;
      bottom: 8px;
      right: 8px;
      background-color: white;
      border: none;
      border-radius: 50%;
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.2rem;
      color: $orange;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      z-index: 10;

      &:hover {
        background-color: $orange;
        color: white;
      }
    }

    .dishes__counter {
      position: absolute;
      bottom: 8px;
      right: 8px;
      background-color: white;
      display: flex;
      align-items: center;
      border-radius: 20px;
      padding: 4px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
      z-index: 10;

      .counter__btn {
        background-color: white;
        border: none;
        font-size: 1rem;
        color: $orange;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 100%;

        &:hover {
          background-color: $orange;
          color: white;
        }
      }

      .counter__number {
        font-size: 1rem;
        font-family: bold;
        margin: 0 0.5rem;
        color: black;
      }
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 1rem;

    &__top {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: center;
      margin-bottom: 0.5rem;

      &__name {
        font-family: bold;
        color: black;
        font-size: 1.1rem;
        margin: 0;
      }

      &__rating {
        width: auto;
        margin-left: auto;
      }
    }

    &__description {
      font-size: 0.9rem;
      color: $grey;
      margin-bottom: 0.5rem;
    }

    &__price {
      color: $orange;
      font-family: bold;
      font-size: 1.2rem;
      margin-top: auto;
    }
  }
}
